#sfondo {
	background: linear-gradient(90deg, red, white, green);
}
h1 {
	color: black;
	text-align: center;
}
img {
	width: 250px;
}
h2 {
	color: red;
	text-align: center;
}
.red-text {
	color: red;
}
.blue-text {
	color: blue;
}
.orange-text {
	color: orange;
}