#sfondo {
	background: linear-gradient(90deg, green, white, red);
	animation-name: dietro;
	animation-duration: 4s;
}
h1 {
	color: black;
	text-align: center;
}
img {
	width: 250px;
}
h2 {
	color: red;
	text-align: center;
}
.red-text {
	color: red;
}
.blue-text {
	color: blue;
}
.orange-text {
	color: orange;
}
p:hover {
	transform: scale(1.3);
}
@keyframes dietro {
	0% {
		background: green;
	}
	50% {
		background: white;
	}
	100% {
		background: red;
	}
}