body {
	background-color: purple;
}
h1 {
	background-color: red;
	color: white;
	text-align: center;
}
img {
	width: 250px;
}
h2 {
	color: red;
	text-align: center;
}
.red-text {
	color: red;
}
.blue-text {
	color: blue;
}
.orange-text {
	color: orange;
}
/*
#image-id {
	position: relative;
	left: -60px;
}
#image-id-2 {
	position: relative;
	left: 350px;
}
.text-position {
	position: relative;
	top: -300px;
}
.paragraph-top {
	position: relative;
	top: -290px;
}
.paragraph-right {
	position: relative;
	right: -185px;
}
.paragraph-left {
	position: relative;
	left: -185px;
}*/