body {
	background-color: white;
}
h1 {
	background-color: red;
	color: white;
	text-align: center;
}
img {
	width: 250px;
	position: relative;
	left: 400px;
}
h2 {
	color: red;
	text-align: center;
}